.modaldesc{
    display: flexbox;
}

.modaldesc h1{
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}

.modaldesc h3{
    font-weight: 400;
    font-style: oblique;
    font-size: 1.1rem;
}

.modalbtn{
    font-family: Oswald;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    height: fit-content;
    background-color: black;
    color: white;
    transition: transform 0.3s;
}

.modalbtn:hover{
    color: orange;
    transform: scale(1.01);
}